@media (max-width: 425px){
    .conteiner-body{
    .conteiner-index{
        .foto-logo{
            margin-left: 16.2rem;
        }
        .conteiner-boton{
            margin-left: 13.5rem;
            width: 16rem;
        }
    }
    }
}
