@media (max-width: 375px){
    .conteiner-body{
        .conteiner-index{
            .foto-logo{
                margin-left: 11rem;
            }
            .conteiner-boton{
                margin-left: 9.5rem;
                width: 16rem;
            }
        }
        }
    }
    