.conteiner-body{
    background-color:  #f4e7d4;
    .foto-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    .conteiner-boton{
        display: flex;
        justify-content: center;
        align-items: center;
        .boton-inicio{
            width: 16rem;
            height: 3rem;
            border-radius: 4.375rem;
            .conocenos{
                list-style: none;
                text-decoration: none;
                font-size: .9375rem;
                font-weight: bold;
            }
        }
    }
}