h1{
    text-align: center;
    padding-top: 4rem;
}
p{
    text-align: center;
}
.section-1{
    @include flex;
    gap: 3.125rem;
    .card-inicio{
        .img-inicio{
        box-shadow: .2rem 0.2rem 1rem;
        }
        .img-inicio:hover{
        transform: translate(-30px, -25px);
        }
    }
    .boton-inicio{
        display: flex;
        justify-content: center;
        align-content: center;
        .button{
            border-radius: 3.125rem;
            width: 12.5rem;
            background-color: #c2b6a4;
            box-shadow: 0.5rem 0.5rem 1rem;
            .button-a{
                text-decoration: none;
                color: black;
                font-family: 'Cinzel';
                font-weight: bold;
            }
        }
    }
    .texto-inicio p{
            margin-top: 1rem;
            font-size: 1rem;
            font-weight: bold;
        
    }
}
.section-2{
    @include flex;
    margin-top: 6rem;
    .button{
        border-radius: 3.125rem;
        width: 15rem;
        background-color: #c2b6a4;
        box-shadow: 0.5rem 0.5rem 1rem;
        .button-a{
            text-decoration: none;
            color: black;
            font-family: 'Cinzel';
            font-weight: bold;
        }
    }
}
.div-inicio{
    margin-top: 6rem;
    h3{
    text-align: center;
    }
.section-3{
    @include flex;
    gap: 3.125rem;
        .boton-inicio{
            display: flex;
            justify-content: center;
            align-content: center;
            .button{
                border-radius: 3.125rem;
                width: 12.5rem;
                background-color: #c2b6a4;
                box-shadow: 0.5rem 0.5rem 1rem;
                .button-a{
                    text-decoration: none;
                    color: black;
                    font-family: 'Cinzel';
                    font-weight: bold;
                }
            }
        }
        .texto-inicio p{
            font-size: 1rem;
            font-weight: bold;
        
}
    }
}
