h1{
    text-align: center;
    padding-top: 4rem;
}
p{
    text-align: center;
}
.section-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 3.125rem;
    margin-top: 3rem;
    .boton-inicio{
        display: flex;
        justify-content: center;
        align-content: center;
        .button{
            border-radius: 3.125rem;
            width: 12.5rem;
            background-color: #c2b6a4;
            .button-a{
                text-decoration: none;
                color: black;
                font-family: 'Cinzel';
                font-weight: bold;
            }
        }
    }
    .texto-inicio p{
            font-size: 1rem;
            font-weight: bold;
        
    }
}
.section-2{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 6rem;
    .button{
        border-radius: 3.125rem;
        width: 15rem;
        background-color: #c2b6a4;
        .button-a{
            text-decoration: none;
            color: black;
            font-family: 'Cinzel';
        }
    }
}
.div-inicio{
    margin-top: 6rem;
    h3{
    text-align: center;
    }
.section-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 3.125rem;
    margin-top: 3rem;
        .boton-inicio{
            display: flex;
            justify-content: center;
            align-content: center;
            .button{
                border-radius: 3.125rem;
                width: 12.5rem;
                background-color: #c2b6a4;
                .button-a{
                    text-decoration: none;
                    color: black;
                    font-family: 'Cinzel';
                    font-weight: bold;
                }
            }
        }
        .texto-inicio p{
            font-size: 1rem;
            font-weight: bold;
        }
    }
}
