.ubi-nosotros{
    .nosotros-txt{
        margin-top: 2rem;
        .letra-1{
            @include font;
        }
        .letra-2{
            @include font;
            text-decoration: none;
        }
    }
    .txt-nosotros{
        margin-top: 5rem;
        .letra-1{
            @include font;
            text-decoration: underline;
        }
    }
    .mapa-nosotros{
        display: flex;
        justify-content: center;
    }
    .mapa-nosotros{
        display: flex;
        justify-content: center;
    }
    .horarios-nos{
        margin-top: 4rem;
        font-size: 2.9rem;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .horarios-nosotros{
        margin-top: 8rem;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .txt-nosotros1{
        margin-top: 2rem;
    }
    .compra-uno{
        @include font;
        margin-top: 3rem;
    }
}